form {
    position:relative;
}
ul {
    position:absolute;
    background-color: white;
    top:100%;
    left:0;
    width:100%;
    list-style-type: none;;
    padding:0;

    border: 2px dotted red;
}
li:nth-of-type(2n) {
    background-color: lightgray;

}